.rowContainer {
	position: relative;
	margin: 5px;
	background-color: #BBBBBB;
}

.rowItem {
	display: inline-block;
	width: 49%;
}

p {
	background-color: #BADA55;
}

.colorChange {
	color: #aa0000;
}